<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1578674473215-9e07ee2e577d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQ4fHxtb3ZpZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60)">
  <div class="container">
  </div>
</div>


<div class="movie-cards">
  <div class="list-text">
    <h3><%= @list.name %></h3>
    <%= link_to 'Create a bookmark', new_list_bookmark_path(@list), class: "btn btn-success"  %>
  </div>
  <div class="movie-card">
      <% @bookmarks.each do |bookmark| %>
        <div class="list-group-item">
        <h4><strong><%= bookmark.movie.title %></strong></h4>
        <%= bookmark.movie.overview %>
        <br><br>
        <em><%= bookmark.comment %></em>
        <br><br>
        <%= bookmark.movie.rating %>
        <br><br>
        <%= button_to "Remove",
                      bookmark_path(bookmark),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %></div>
      <% end %>
    <br>
  </div>

  <br>
  <%= link_to 'Back', lists_path %>
  <%= link_to 'Create a new list', new_list_path(@list) %>
</div>
