<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1578674473215-9e07ee2e577d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQ4fHxtb3ZpZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60)">
  <div class="container">
  </div>
</div>

<div class="new-lists">
  <div class="new-list">
    <h1>Edit the <strong>movie</strong> !</h1>
    <%= simple_form_for [ @movie ] do |f| %>
      <%= f.input :title %>
      <%= f.input :overview %>
      <%= f.input :rating %>
      <%= f.input :poster_url %>
      <%= f.submit "Submit", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
